@font-face {
  font-display: swap;
  font-family: 'Open Sans Hebrew';
  font-weight: 700;
  src: url('../fonts/opensanshebrew-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Actor';
  font-weight: 400;
  src: url('../fonts/actor-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  font-weight: 400;
  src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura Md BT';
  font-weight: 400;
  src: url('../fonts/futura-md-bt-medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura Md BT';
  font-weight: 700;
  src: url('../fonts/futura-md-bt-bold.woff2') format('woff2');
}
