.link {
  padding: 0 16px;
  color: var(--color-header-links);
  font-family: 'Actor', sans-serif;
  line-height: 4.5;
  text-decoration: none;
  transition: color 0.2s, transform 0.2s;

  &:hover {
    color: var(--color-primary-light);
    background-color: var(--color-header-links);
    transition: all 0.3s ease;
    transform: scale(1.2);

    outline: 0;
    overflow-wrap: anywhere;
  }

  &__a {
    text-decoration: none;
  }
}
