.condusef-contact {
  padding-top: 36px;
  background-color: var(--color-background-cool);
  overflow-x: hidden;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 63px;
  }

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 63px;
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      left: 24px;
      bottom: 0;
      max-width: 420px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-end;
      margin-right: 24px;
      padding-bottom: 16px;
    }
  }
}
